@import 'src/styles.scss';
$small: 500px;
$medium: 750px;
$large: 1000px;

.header {
  font-weight: 700;
  position: fixed;
  background: $blue2;
  color: $yellow-light;
  z-index: 1;
  border-bottom: 3px solid $yellow-light;
  @media (max-width: $small) {
    font-family: 'Fira Sans Extra Condensed', 'Fira Sans', sans-serif;
  }
}
.center {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  @media (max-width: $small) {
    font-size: 14px;
  }
}
.tips {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  color:#AAA;
  padding: 15px;
  @media (max-width: $small) {
    font-size: 14px;
  }
  @media (min-width: $small) and (max-width: $medium) {
    font-size: 18px;
  }
}
table {
  width: 100%;
  max-width: 600px;
  margin:0 auto;
  box-shadow: 0;
  .table-header {
    font-weight: 700;
  }
  .have-field {
    width: 50px;
  }

}
.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.grid {
  max-width: 1150px;
  margin: 0 auto;
  display:grid;
  justify-items: center;
  @media (max-width: $small) {
    grid-template-columns: 1fr;
    font-size: 22px;
  }
  @media (min-width: $small) and (max-width: $medium) {
    grid-template-columns: 1fr 1fr;
    font-size: 26px;
  }
  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  grid-template-columns: 1fr 1fr 1fr;
  font-size: 30px;
  mat-card {
    @media (max-width: $small) {
      width: 90%;
      min-width: 90%;
      max-width: 90;
      height:220px;
    }
    align-self: center;
    justify-self: center;
    width: 200px;
    min-width: 200px;
    max-width: 35%;
    margin: 6px;
    height: 300px;

    position: relative;
    .bottom {
      position:absolute;
      bottom: 15px;
      left: 5px;
      right: 5px;
    }
    .times {
      font-size: 26px;
    }
    .need {
      font-size: 26px;
      color: red;
    }
    .ok {
      color: green;
    }
  }
}
.showMore{
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.result-block {
  border: 1px solid #AAA;
  border-bottom: 0px;
  width: 50%;
}
