<mat-toolbar class="header">
  <span>Legendary scrip calculator for Fallout 76</span>
</mat-toolbar>
<mat-toolbar></mat-toolbar>
<!-- <div>
  Enter the number of scrips you have and the best strategy will be calculated.
</div> -->
<div class="center">
  <mat-form-field class="example-full-width">
      <input matInput autoFocus type="number" placeholder="Number of Scrips" [(ngModel)]="scrips" (change)="detechScripChange()" [max]="maxScrip">
  </mat-form-field>
  Possible combinations: {{result.length}}
</div>
<div class="tips">
  <p>
    Tips: rename your legendary items for easy count.
  </p>
</div>
<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> <span class="table-header">Item</span> </th>
    <td mat-cell *matCellDef="let element">
        <div class="flex">
         <!-- <span>{{element.name}}</span> -->
         <app-item [type]="element.type" [star]="element.stars"></app-item>
        </div>
     </td>
  </ng-container>
  <ng-container matColumnDef="scrip">
    <th mat-header-cell *matHeaderCellDef> <span class="table-header">Scrips</span> </th>
    <td mat-cell *matCellDef="let element"> {{element.scrip}} </td>
  </ng-container>
  <ng-container matColumnDef="ihave">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox [(ngModel)]="haveColumn">
        <span class="table-header">I have</span>
      </mat-checkbox>
     </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="have-field" *ngIf="haveColumn">
        <input matInput (change)="resort()" [disabled]="!haveColumn" [(ngModel)]="element.have"
        type="number" min="0" [max]="maxScrip" />
      </mat-form-field>
      <mat-form-field class="have-field" *ngIf="!haveColumn">
        <input matInput (click)="haveColumn = true" (change)="resort()" [disabled]="!haveColumn" [(ngModel)]="element.have"
        type="number" min="0" [max]="maxScrip" />
      </mat-form-field>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>

<div class="grid" *ngIf="!hideResult">
  <mat-card *ngFor="let r of result | slice:0:limiter">
    <mat-card-content>
    <div *ngFor="let row of data; let i = index">
      <div class="flex space-between" *ngIf="r[i] > 0">
        <app-item [type]="row.type" [star]="row.stars"></app-item>
        <span>
          <span class="times">x {{r[i] | json}}</span>
          <span *ngIf="haveColumn && need(row.have,r[i]) !== 0" class="need">-<span>{{need(row.have,r[i])}}</span></span>
          <span *ngIf="haveColumn && need(row.have,r[i]) == 0" class="ok">
            <i class="material-icons ok">done</i>
          </span>
        </span>
      </div>

    </div>
    <div class="bottom">

      <div>
        Legendary items needed: {{sum(r)}}
      </div>
      <div>
        You have:  {{sum(r) - ihave(r)}}/{{sum(r)}}
      </div>
      <div>
        You need: {{ihave(r)}} more
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="limiter < result.length">
  <button class="showMore" mat-raised-button color="primary" (click)="showMore()">Show More</button>
</div>
<router-outlet></router-outlet>
